<section>
        <form action="/uitloggen" method="post">
            <input type="submit" value="">
        </form>
        <form action="/update" method="post">
            <input type="text" id="username" name="username" placeholder="Gebruikersnaam" value="{{username}}"
                required>
            <label for="fname"></label>
            <input type="text" id="email" name="email" placeholder="E-mail" value="{{email}}" required>
            <label for="email"></label>
            <input type="submit" value="Opslaan">
        </form>
    </section>