 <section id="profile">
        <h1 class="profiletext"> {{profile.username}}</h1>
        <h1 class="profiletext"> {{username}}</h1>
    </section>  

    <section id="info">
        <h2 class="profileinfo"> {{profile.email}}</h2>
        <h2 class="profileinfo"> {{profile.follow}}</h2>
    </section>  