<section>
        <h2>Inloggen</h2>

        <form action="/inloggen" method="post">
            <label for="fname"></label>
            <input type="text" id="username" name="username" placeholder="Gebruikersnaam">
            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="Wachtwoord">
            <input type="submit" value="Inloggen">
            <label id="error"></label>
        </form>

        <p>Nog geen account?<a href="/registreren">Meld je nu aan!</a></p>
    </section>